<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CATALINA" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
		<param name="Encoding" value="UTF-8"/>
		<param name="File" value="${catalina.base}/logs/server-root.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%30.50c{1}] %m%n"/>
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%30.50c{1}] %m%n"/>
		</layout>
	</appender>

	<appender name="BILLING_AUTO" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="20000" />
		<param name="File" value="${catalina.base}/logs/billing/in_process/billing.log"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n"/>
		</layout>
	</appender>

	<appender name="BILLING_MANUAL" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="20000" />
		<param name="File" value="${catalina.base}/logs/billing/manual_generated/billing.log"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n"/>
		</layout>
	</appender>

	<appender name="DBCLEANER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
		<param name="Encoding" value="UTF-8"/>
		<param name="File" value="${catalina.base}/logs/dbcleaner.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p |%30.50c{1}| %m%n"/>
		</layout>
	</appender>

	<appender name="HYBER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
		<param name="Encoding" value="UTF-8"/>
		<param name="File" value="${catalina.base}/logs/server.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p |%30.50c{1}| %m%n"/>
		</layout>
	</appender>

	<logger name="com.hyber.billing.cdr.BillingAuto" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="BILLING_AUTO"/>
	</logger>

	<logger name="com.hyber.billing.cdr.BillingManual" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="BILLING_MANUAL"/>
	</logger>

	<appender name="ASYNC_HYBER" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="4096"/>
		<appender-ref ref="HYBER"/>
	</appender>

	<logger name="com.hyber.amqdrrouter" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.batch.db.receiver" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.bidirectional.puller" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.billing.logic" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.ccom" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.common" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.data.migrate" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.dbcleaner" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.delayedmessageprocessor" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.failover.worker" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.http.dr.sender" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.http.proxy.receiver" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.httpdrpuller" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.httpreceiver" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.mobile.api" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.monitoring" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.push.callback.receiver" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.push.dr.receiver" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.push.sender" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.redisapi" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.redis.delayer" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.delayed.manager" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.scheduledworker" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.smpp.dr.receiver" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.smpp.dr.sender" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.smpp.dr.sendertwo" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.smpp.receiver.two" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.smppreceiver" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.smppsender" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.viber.callback.receiver" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.viber.sender" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.viberdrreceiver" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.mchange" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.mysql" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.zaxxer.hikari" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="org.apache.camel" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="org.hibernate" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="org.jsmpp" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="org.slf4j.impl" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="org.springframework" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="redis.clients" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<logger name="com.hyber.emulator" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ASYNC_HYBER"/>
	</logger>

	<root>
		<level value="INFO"/>
		<appender-ref ref="CATALINA"/>
	</root>

</log4j:configuration>
