body {
    background-color: #44ca492e;
    background-image: url("img/back.jpg");
}

table.request-table {
    border-radius: 20px;
    border-collapse: collapse;
    border: solid 1px #196328;
    max-width: 800px;
    display: block;
    padding: 15px;

    background: #00ff99; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #00ff99 0%, #bcffe4 44%, #00ff99 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #00ff99 0%,#bcffe4 44%,#00ff99 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #00ff99 0%,#bcffe4 44%,#00ff99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff99', endColorstr='#00ff99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

table.request-table > tbody > tr > td {
    border: 1px dotted #999;
    text-align: left;
    padding: 5px;
}

table.request-table > tbody > tr > td.method {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

table.request-table > tbody > tr > td.request_id {
    text-align: right;
    color: grey;
}

table.request-table > tbody > tr > td.request_time {
    color: green;
    min-width: 125px;
}

table.request-table > tbody > tr > td.body_value {
    color: #ff0000;
    word-break: break-word;
}


table.headers {
    max-width: 600px;
    display: block;
}

table.headers > tbody > tr > td{
    border-bottom: dotted 1px #ff00004a;
}

span.hvalue {
    color: #9400d3;
}

.name {
    color: blue;
}

span.hname {
    color: brown;
    margin-right: 1em;
}

.request:nth-child(odd) table.request-table {
    float: left;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
}

.request:nth-child(even) table.request-table {
    float: right;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
}

div#react {
    overflow: hidden;
}

input[type="submit"] {
    width: 100%;
    border-radius: 15px;
    height: 30px;
    color: red;
    font-weight: bold;
    background-color: #00b73a;
    background: -moz-linear-gradient(top, rgba(0,255,153,0) 0%, rgba(0,255,153,1) 50%, rgba(0,255,153,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,255,153,0) 0%,rgba(0,255,153,1) 50%,rgba(0,255,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,255,153,0) 0%,rgba(0,255,153,1) 50%,rgba(0,255,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff99', endColorstr='#0000ff99',GradientType=0 ); /* IE6-9 */
}

#reset-button {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.body-area {
    white-space: pre-wrap;
}

.counter {
    width: 250px;
    text-align: center;
    border-radius: 15px;
    margin: 15px;
    color: #ec2fff;
    font-weight: bold;
    font-size: x-large;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00ff99+0,00ff99+50,00ff99+100&0+0,1+50,0+100 */
    background: -moz-linear-gradient(top, rgba(0,255,153,0) 0%, rgba(0,255,153,1) 50%, rgba(0,255,153,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,255,153,0) 0%,rgba(0,255,153,1) 50%,rgba(0,255,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,255,153,0) 0%,rgba(0,255,153,1) 50%,rgba(0,255,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff99', endColorstr='#0000ff99',GradientType=0 ); /* IE6-9 */
}


