body {
    background-color: #44ca492e;
}

table {
    border-radius: 20px;
    border-collapse: collapse;
    border: solid 1px #196328;
    max-width: 800px;
    background-color: #c3f5b3;
    display: block;
    padding: 15px;
}

td, th {
    border: 1px dotted #999;
    text-align: left;
    padding: 5px;
}

td.method {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

td.request_id {
    text-align: right;
    color: grey;
}

td.request_time {
    color: green;
    min-width: 125px;
}

ul.headers {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

span.hvalue {
    color: #9400d3;
}

td.body_value {
    color: #ff0000;
    word-break: break-word;
}

.name {
    color: blue;
}

span.hname {
    color: brown;
    margin-right: 1em;
}

.request:nth-child(odd) table {
    float: left;
    overflow:  hidden;
    clear: both;
    margin-bottom: 20px;
}

.request:nth-child(even) table {
    float: right;
    overflow:  hidden;
    clear: both;
    margin-bottom: 20px;
}
div#react {
    overflow: hidden;
}
input[type="submit"] {
    width: 50%;
    height: 50px;
    margin-left: 25%;
}